*.user
*.suo
*.opensdf
*.sdf
*.xcuserdatad
*.DS_Store
/ipch
/x64
*.idb
/Debug
Debug_dynamic
Debug_static
Release
Release_dynamic
Release_static
Debug_sdk
Release_sdk
*.orig
*.tlog
Debug
*.gray
*.yuv
*.rgb
*.ipch
*.opendb
*.db
*.o
*.iws
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
workspace.xml
local.properties
.gradle
gradle
gradlew
gradlew.bat
build
gen
out
.externalNativeBuild
My Amplifier XE Results*
My Advisor Results*
*.rbg
.vs
/vs_android/.vs
/docs/*.odt#
/vs_android/.workspace
/docs/doxygen/html
/docs/doxygen/xml
/python/craft/tf_model
/samples/detect_text/heat_text.png
/samples/detect_text/heat_link.png
/samples/graph_match/transformed_source.txt
/dataset/DocumentsList.txt
/samples/persp/rectified.png
/samples/persp/blend.png
/dataset/todo
/dataset/tgtbt
/dataset/test_classify
/dataset/france
/dataset/all
/dataset/demo_images
/SDK_dist/binaries/windows/x86_64/*.pyd
/SDK_dist/binaries/windows/x86_64/_KycVerifSdk.pyd
/SDK_dist/python/__pycache__
/SDK_dist/samples/java/verify/org
/SDK_dist/samples/java/verify/Verify.class
/SDK_dist/samples/java/verify/*.class
/docs/doxygen/latex
